body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("../IMG/login.jpg") no-repeat center center fixed;
  /* Replace with your actual background image */
}

.login-container {
  background-image: url("../IMG/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
  text-align: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 100%;
}

.input-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  padding: 13px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #ccc;
}

.form-footer {
  text-align: center;
}

.form-footer button {
  padding: 10px 15px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.form-footer button:hover {
  background-color: #0056b3;
}

.form-footer a {
  display: block;
  color: #007bff;
  text-decoration: none;
  margin: 5px 0;
}

.form-footer .exit {
  background-color: #6c757d;
}

.form-footer .exit:hover {
  background-color: #5a6268;
}
label {
  width: 400px;
  color: #fff;
  font-size: 32px;
}
.login-btn {
  width: 100%;
  padding: 10px 7px;
  background-color: #24478b;
  outline: none;
  border: 0;
  font-size: 25px;
  color: #fff;
  margin-top: 30px;
}
.login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.login-links a {
  color: #fff;
  text-decoration: none;
}

.exit-btn {
  width: 100%;
  padding: 10px 7px;
  background-color: #24478b;
  outline: none;
  border: 0;
  font-size: 25px;
  color: #fff;
  margin-top: 30px;
}
