body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f2f5 ;
}
.container {
  display: flex;
  height: 100%;
}
.sidebar {
  width: 20%;
  height: 100vh;
  background-color: #2e415c;
  color: white;
}
.content {
  width: 80%;
  height: 100%;
  background-color: #f0f2f5;
  color: black;
}
.header {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}

.item {
  display: flex;
  margin-right: 20px;
  padding-top: 20px;
}
.item:hover {
  background-color: #96a7c2;
}
.item .img {
  width: 100px;
  height: 100px;
  margin-left: 20px;

}
.item .img img {
  height: 50px;
  width: 50px;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}
.footer{
    display: flex;
    margin-top: 145px;
    margin-left: 20px;
    margin-bottom: 20px;
    column-gap: 10px;
}
.footer:hover{
    color: #96a7c2;
}
.title {
  display: flex;
  column-gap: 1240px;
  margin-left: 10px;
  color: #1e2f48;
}
.title .img img{
  height: 70px;
  width: 60px;
}
.namelist {
  /* display: flex; */
  column-gap: 20px;
  color: #1e2f48;
  margin-left: 10px;
  height: 20%;
}

.list {
  max-height: 50vh; /* Sử dụng chiều cao tối đa là 50% của chiều cao màn hình */
  overflow-y: auto; /* Sử dụng thanh cuộn nếu nội dung vượt quá kích thước theo chiều dọc */
  overflow-x: auto;
}
.description {
  height: 30%;
}
.description .mota h2 {
  color: #1e2f48;
  margin-left: 10px;
}
.description .ykien {
  display: flex;
}
.description .ykien {
  display: flex;
  column-gap: 20px;
  color: #1e2f48;
  margin-left: 10px;
}
table {
  width: 100%;
  border-collapse: collapse; /* Hợp nhất các đường viền của ô */
  margin-left: 10px;
}
th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Đường viền dưới của mỗi hàng */
}

th {
  background-color: #f2f2f2; /* Màu nền của các ô tiêu đề */
}
#subject-select {
  margin-top: 25px;
  height: 30px;
  width: 150px; /* Adjust the width as needed */
  font-size: 14px; /* Adjust the font size as needed */
  padding: 5px; /* Adjust padding to make it visually smaller or larger */
}
.namelist {
  color: #152f56;
}
.namelist .tag .circle {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
}
.namelist .tag {
  display: flex;
  column-gap: 10px;
}
.namelist h2 {
  margin-bottom: 10px;
}
.list {
  max-height: 68vh; /* Sử dụng chiều cao tối đa là 50% của chiều cao màn hình */
  overflow-y: auto; /* Sử dụng thanh cuộn nếu nội dung vượt quá kích thước theo chiều dọc */
  overflow-x: auto;
}
#check1 {
  height: 40px;
  width: 30px;
}
#check2 {
  height: 40px;
  width: 30px;
}
#check3 {
  height: 40px;
  width: 30px;
}
#typebox {
  height: 50px;
  width: 600px;
}
.question img {
  height: 40px;
  width: 45px;
}
#submitBtn{
  background-color:  #364e70;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}
#submitBtn:hover {
    background-color: #454e9d; /* Màu nền khi di chuột qua */
}